@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SONO";
  src: url("./fonts/IBMPlexSans-Regular.otf");
}

@font-face {
  font-family: "TITLE";
  src: url("./assets/Festival.otf");
}
@font-face {
  font-family: "BODY";
  src: url("./assets/Epilogue-Light.otf");
}

.glow {
  text-shadow: 0 0 1px #ffffff, 0 0 10px #ffffff, 0 0 21px #ffffff, 0 0 42px #292928,
  0 0 12px #200589, 0 0 92px #200589, 0 0 150px #200589, 0 0 151px #200589;
}

::-webkit-scrollbar {
  width: 0px;
}

scrollbar {
  width: 0px;
}

.shadow {
  box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.62);
-webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.62);
}

.poster {
  height: -webkit-fill-available;
}

.glass {
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.03);
box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.wrapper {
  perspective: 10px;
}

.header {
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
  z-index: -1;
}